<div class="form-group">
  <%= question.label :quizz_id, :class => "control-label col-sm-2" %>
  <div class="col-sm-6">
    <%= question.select(:quizz_id, options_for_select(list_quiz(session[:user_id]), question.object.quizz_id), {}, { :class => "form-control" }) %>
  </div>
</div>

<div class="form-group">
  <%= question.label "Question", :class => "control-label col-sm-2" %>
  <div class="col-sm-9">
    <%= question.bootsy_area :question_content, :placeholder => "Question", :required => true, :class => "form-control", :rows => 10 %>
  </div>
</div>

<div class="form-group">
  <%= question.label :answer, :class => "control-label col-sm-2" %>
  <div class="col-sm-6">
    <%= question.text_field :answer, :placeholder => "Answer", :required => true, :class => "form-control" %>
  </div>
</div>