<%= form_for @quiz, url: {action: "create"},:html => {:class => "form-horizontal"}   do | tag| %>
  <div class="form-group">
    <%= tag.label :quiz_name, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
    <%= tag.text_field :quiz_name, :placeholder => "Quiz name", :required => true, :class => "form-control" %>
    </div>
  </div>
  
  <div>
    <%= tag.fields_for :question do | f | %>
      <%= render "question_fields", :f => f %>
    <% end %>
    <div class='form-group'>
      <div class="col-sm-offset-1 col-sm-10">
        <%= link_to_add_association 'Add new question', tag, :question, :class => "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="form-group">
   <div class="col-sm-offset-1 col-sm-10">
    <%= tag.submit "Create new quiz", class: "btn btn-default" %>
    </div>
  </div>
<% end %>