<span>List questions</span>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.each do | quiz | %>
    <tr>
      <td><%= quiz.question.html_safe %></td>
      <td><%= quiz.answer %></td>
      <td><%= link_to "Edit", edit_question_path(quiz) %></td>
      <td><%= link_to "Delete", question_path(quiz), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<span>Result</span>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Correct answer</th>
      <th>Wrong answer</th>
    </tr>
    <tbody>
      <% @participants.each do | participant| %>
      <tr>
        <td><%= participant.first %></td>
        <td><%= participant.second.map { |a| a.is_right}.count(true) %></td>
        <td><%= participant.second.map { |a| a.is_right}.count(false) %></td>
      </tr>
      <% end %>
    </tbody>
  </thead>

</table>