<%= form_for @tryout, url: {action: "create"},:html => {:class => "form-horizontal"}   do | question | %>
  <div class="form-group">
    <%= question.label :question, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
    <%= @question.question%>
    </div>
  </div>

  <div class="form-group">
    <%= question.hidden_field :question_id, :value => params[:question_id] %>
    <%= question.label :answer, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
    <%= question.text_field :answer, :placeholder => "First name", :required => true, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= question.submit "Answer", class: "btn btn-default" %>
    </div>
  </div>
<% end %>